.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  background: linear-gradient(to bottom, #999, #fff);
  opacity: 0.9;
  color: #000;
  font-size: 0.7rem;
  text-align: right;
  padding: 0 0.7rem;
  position: fixed;
  top: 0;
  width: 100%;
}

.header-logo {
  height: 30px;
}

.bold {
  font-weight: 700;
}